<header class="main-header navbar navbar-expand">
    <div class="inner">
        <div class="left">
            <span class="sidebar-toggler" (click)="toggleSidebar()">
                <i class="fa fa-navicon"></i>
            </span>
        </div>
        <div class="right">
            <!-- account -->
            <span class="mr1 header-button">
                <app-logged-user></app-logged-user>
            </span>
            <!-- lang -->
            <span class="mr1 header-button">
                <app-lang-switcher></app-lang-switcher>
            </span>
        </div>
    </div>
</header>