<div #noDataFoundComponent class="status-message fadeIn">
    <div class="content">
        <div class="message">
            <div class="icon" [ngClass]="(level == 'warn')?'warn-icon':'err-icon'">
                <i class="fa" [ngClass]="(level == 'warn')?'fa-warning':'fa-exclamation-circle'"></i>
            </div>
            <div class="label">{{ message | translate}}</div>
            <div *ngIf="level == 'err'" class="refresh-div">
                <button mat-raised-button (click)="refresh()">{{'action.refreshPage' | translate}}</button>
            </div>
        </div>
    </div>
</div>