:host {

    .expansion-panel {
        .expansion-panel-header {
            padding-right: 40px;
        }
        .trash-icon {
            padding: 0 10px;
            margin: 0px 20px;
            border-radius: 10px;
            cursor: pointer;
            border: 1px solid #cfe1ff;
            background-color: #f6fdff;
            box-shadow: 1px 1px 1px grey;
        }

        li {
            margin: 10px 0;
        }
    }
}