:host {
    .skill-form {
        margin: 10px 10px;

        .skill-field {
            padding: 4px 10px 0px 10px;
            margin: 10px 0px;
            background-color: white;
            border-radius: 8px;
            border: 1px solid gray;
            height: 60px;
            width: inherit;

            .area-select-field {
                padding: 5px 5px;
            }
        }
        
        .create-button {
            border: 1px solid gray;
            border-radius: 8px;
            margin: 10px 0;
        }
    }

    ::ng-deep #cdk-overlay-0 {
        z-index: 1001;
    }

    ::ng-deep .mat-select {
        display: inline;
    }


}