:host {
    .add-competence {
        border: 1px solid gray;
        border-radius: 8px;
        margin: 10px 0;
        color: #475158;
        box-shadow: 1px 1px 2px grey;
    }

    .skill-table {
        margin-top: 16px;
    }
}