:host {

    .login-screen {
        text-align: center;

        .header-container {

            background-image: linear-gradient(#02081ddb, #92cbffab);
            height: calc(320px - 30px);

            .header {
                background-image: url('/../../../assets/imgs/plansoft-copia.png');
                background-size: inherit;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                bottom: 30px;
                display: grid;
                align-items: center;
                justify-content: center;
                height: 320px;
                box-shadow: 1px 0px 30px 1px black;
            
                .container {
                    width: 80vw;
                    height: 150px;
                    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
                    border-radius: 5px;
                    position: relative;
                    z-index: 1;
                    background: inherit;
                    border: 1px solid;
                    border-radius: 16px;
                    color: white;
                    font-size: 65px;
                    background-color: #121e2b;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .container:before {
                    content: "";
                    position: absolute;
                    background: inherit;
                    //background: #0000008c;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 100%);
                    filter: blur(6px);
                    margin: -20px;
                }  
            }
        }

        .language-selection {
            width: 100%;
            text-align: center;
            position: relative;
            bottom: 40px;
            margin-top: 10px;
            margin-bottom: 30px;
    
            .mat-button-toggle-checked {
                background-color: #0c58a9;
                border: 1px solid #00b1ff;
                color: #ffffff !important;
                box-shadow: 2px 3px 10px;
            }
        } 
        ::ng-deep .mat-tab-header {
            position: relative;
            bottom: 50px;
            height: 50px;
        }
        ::ng-deep .mat-tab-body-wrapper {
            position: relative;
            bottom: 30px;
        }
    }        
}
