/* overlay */
body {
    .ui-dialog {
        width: auto;
        height: auto;
        max-height: 70%;
        max-width: 80%;
        min-width: 220px;
        z-index: 2048 !important;
        box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;

        .ui-dialog-titlebar {
            border: 0;
            background-color: #2787a5;
            color: #f3f3f3;
            padding: 1em;
            font-weight: 500;
            border-bottom: 0 none;
            font-size: 16px;

            .ui-dialog-titlebar-icon {
                color: #efefef;
                font-size: 14px;

                &:hover {
                    color: #ffffff;
                }
            }
        }

        .ui-dialog-content {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            min-width: 100px;
            padding: 0 !important;
            border: 0;
        }
    }

}
