<div class="footer">
    <div class="footer-content">
        <div class="left">
            <a class="link-data">{{'label.companyData' | translate}}</a>
            <div>P. IVA 03562770481</div>
        </div>
        <div class="social">
            <a href="https://www.facebook.com/FindomesticBancaSpa/" target="_blank">
                <i class="fa fa-facebook-square social-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/user/findomestic" target="_blank">
                <i class="fa fa-youtube-square social-icon" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/company/findomestic-banca-spa/" target="_blank">
                <i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/Findomestic" target="_blank">
                <i class="fa fa-twitter-square social-icon" aria-hidden="true"></i>
            </a>
        </div>
        <div class="right">
            <a class="link-data" href="https://www.findomestic.it" target="_blank">Findomestic Banca</a> 
            <div>Gruppo BNP Paribas</div>
        </div>
    </div>
</div>